* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

h2 {
    color: antiquewhite;
    font-size: 1.5rem;
}

h3 {
    padding-bottom: 2rem;
    color: #203757;
    font-size: 1.2rem;
}

.btn {
    z-index: 1000;
}

.hearts {
    font-size: 100px;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    left: 0;
    transform: translateY(0%);
    animation: fall 1s ease-in infinite;
}

@keyframes fall {
    to {
        transform: translateY(250vh);
    }
}

h1 {
    margin-top: 2rem;
    padding: 0 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 2.5rem;
    text-align: center;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.beauti, .gorg, .wow {
    color: transparent;
    -webkit-text-stroke: 2px darkmagenta;
    position: relative;
    font-size: 2rem;
    text-align: center;
}

#beauti, #gorg, #wow {
    padding: 1rem 0;
}

.beauti::before, .gorg::before, .wow::before {
    position: absolute;
    width: 0;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 4px solid darkmagenta;
    animation: slidein infinite 1.5s;
}

@keyframes slidein {
    to {
        width: 100%;
        filter: drop-shadow(0 0 25px darkmagenta);
    }
}

.beauti:hover::before, .gorg:hover::before, .wow:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px darkmagenta);
}

.watermark {
    opacity: 0.5;
    color: rgb(238, 203, 203);
    position: relative;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: rgb(238, 203, 203);
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
    .hearts {
        font-size: 150px;
    }
    .beauti, .gorg, .wow {
        font-size: 3rem;
        -webkit-text-stroke: 3px darkmagenta;
    }
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
    h1 {
        font-size: 4rem;
    }
    .hearts {
        font-size: 200px;
    }
}
